# Ép chọn nguồn tải bản CPU trước
--extra-index-url https://download.pytorch.org

# Các thư viện chính (thêm gunicorn vào đây luôn)
Flask
Flask-JWT-Extended
Flask-SQLAlchemy
flask-cors
PyMySQL
python-dotenv
gunicorn

# Thư viện xử lý ảnh (Dùng headless để nhẹ hơn)
pillow
opencv-python-headless
numpy

# Thư viện AI (Ép cài bản CPU)
torch==2.2.1+cpu
torchvision==0.17.1+cpu
ultralytics
vietocr
